body{
    width: 1440px;
    height: 4134px;
}

.jul{
    width: 1179px;
    height: 41px;
    justify-content: flex-end;
    text-align: end;

}

.conteiner{
width: 1380px;
height: 466.66px;
background-color: rgb(255, 229, 229);
justify-content: center;
padding-top: 90px;
font-size: 80px;
image-rendering: auto;
}

.ler{
    font-size: 60px;
    text-align: center;
}

.low{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}